.adaptable{
  height: 100%;
  width: 100%;
}

.divimguno {
  width: 100%;
  height:33.33%
}

.imguno {
  width: 100%;
  height: 100%;
}

.divimgdos {
  width: 100%;
  height:33.34%
}

.imgdos {
  width: 100%;
  height:100%
}

.divimgtres {
  width: 100%;
  height:33.33%
}

.imgtres {
  width: 100%;
  height:100%
}