.adaptable{
  height: 100%;
  width: 100%;
}

.divimguno {
  width: 70%;
  height:50%
}

.imguno {
  width: 100%;
  height: 100%;
}

.divimgdos {
  width: 70%;
  height:50%
}

.imgdos {
  width: 100%;
  height:100%
}

/* .divimgtres {
  width: 0%;
  height:0%
}

.imgtres {
  width: 100%;
  height:100%
} */

@media only screen and (max-width: 600px){
.divimguno {
  margin-top:20%;
  width: 95%;
  height:40%
}

/* .imguno {
  width: 100%;
  height: 100%;
} */

.divimgdos {
  margin-top:15%;
  width: 95%;
  height:40%
}

/* .imgdos {
  width: 100%;
  height:100%
} */

/* .divimgtres {
  width: 100%;
  height:33.33%
} */

/* .imgtres {
  width: 100%;
  height:100%
} */
  
}