.grandivab{
    display: flex;
  }
  
  .littledivab{
    margin-top:72px;
  }

  .WhoAmI {
    display: flex;
    width:100%;
    text-align:center;
  }
  .who{
    width: 50%;
    display: flex;
    flex-direction:column;
    margin-left:5%;
  }

  .bio{
    margin-top:10%;
    font-family: 'Dancing Script', cursive;
    font-size: 7.5vw;
  }

  .iAsk {
    margin-top:5%;
    color:skyblue;
    font-size: 3vw;
  }

  .whoIAmDiv{
    width:60%;
    text-align:center;
  }
  .whoAmIPic {
    width: 50%;
  }

  .MynameStyleC{
    margin-top:5%;
    width:100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5vw;

  }

  .maybeuno{
    margin-top:5%;
    background-color:lightblue;
  }
  .maybedos{
    margin-top:5%;
    background-color:lightblue;
  }
  .maybetres{
    margin-top:5%;
    background-color:lightblue;
  }
  .maybecuatro{
    margin-top:5%;
    background-color:lightblue;
  }




  @media only screen and (max-width: 600px){
    
    .WhoAmI {
      display: flex;
      width:100%;
      flex-direction:column;
      text-align:center;
      margin-top:-5%;
    }
    .who{
      margin-left:0%;
      width: 100%;
      display: flex;
    }
    .bio{
      margin-top:10%;
      font-size: 300%;
    }
    .iAsk {
      margin-top:5%;
      color:green;
      font-size: 3vw;
    }

    .whoIAmDiv{
      width:100%;
      margin-top:-3%;
    }
    .whoAmIPic {
      width: 40%;
      text-align:center;


    }

    .MynameStyleC{
      margin-top:5%;
      width:100%;
      text-align: center;
      font-family: 'Dancing Script', cursive;
      font-size: 3.5vw;
    }
  }

