.grandivab{
    display: flex;
  }
  
  .littledivab{
    margin-top:72px;
  }

  .WhoAmI {
    display: flex;
    width:100%;
    text-align:center;
  }
  .who{
    width: 50%;
    display: flex;
    flex-direction:column;
    margin-left:5%;
  }

  .bio{
    margin-top:10%;
    font-family: 'Dancing Script', cursive;
    font-size: 7.5vw;
  }

  .iAsk {
    margin-top:5%;
    color: rgba(31, 121, 160, 0.988);
    font-size: 3vw;
  }

  .whoIAmDiv{
    width:60%;
    text-align:center;
  }
  .whoAmIPic {
    width: 50%;
  }

  .MynameStyleC{
    margin-top:5%;
    width:100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5vw;

  }

  .maybe{
    margin-top:5%;
    background-color:lightblue;
    color: rgba(31, 121, 160, 0.988);
    padding-left: 10%;
    height: 4%;
    padding-top: 2.5%;
    font-size: 2.5vw;
  }
  /* .maybedos{
    margin-top:5%;
    background-color:lightblue;
    color: rgba(31, 121, 160, 0.988);
  }
  .maybetres{
    margin-top:5%;
    background-color:lightblue;
    color: rgba(31, 121, 160, 0.988);
  }
  .maybecuatro{
    margin-top:5%;
    background-color:lightblue;
    color: rgba(31, 121, 160, 0.988);
  } */

  .summary{
    display: flex;
    margin: 1%;
    margin-left: 3%;
  }
 .summaryuno{
  width: 50%;
  margin: 1%;
  margin-left: 2%;
 }
 .summarydos{
  width: 50%;
  margin: 1%;
  margin-left: 2%;
 }
 .parrafo{
  margin-top:5%;
  /* color: rgba(31, 121, 160, 0.988); */
  font-size: 2.5vw;
 }
 

 .imageAbout{
   width: 100%;
   margin-top: 5%;
 }

 .mobius{
  width: 100%;
  /* margin-left: -15%; */
  height: 120%;
}

  @media only screen and (max-width: 600px){
    
    .WhoAmI {
      display: flex;
      width:100%;
      flex-direction:column;
      text-align:center;
      margin-top:-5%;
    }
    .who{
      margin-left:0%;
      width: 100%;
      display: flex;
    }
    .bio{
      margin-top:10%;
      font-size: 300%;
    }
    .iAsk {
      margin-top:5%;
      font-size: 3vw;
    }

    .whoIAmDiv{
      width:100%;
      margin-top:-3%;
    }
    .whoAmIPic {
      width: 40%;
      text-align:center;
    }

    .MynameStyleC{
      margin-top:5%;
      width:100%;
      text-align: center;
      font-family: 'Dancing Script', cursive;
      font-size: 3.5vw;
    }

    .maybe{
      font-size: 3.5vw;
      /* padding-top: 1%; */
    }
    .summary{
      font-size: 3.5vw;
    }
  }

